<div class="row">
    <div class="col-xs-12">
      <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive" width="500px" height="300px">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{recipe.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      
         <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage Recipe <span class="caret"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">To Shopping List</a>
            <a class="dropdown-item" href="#">Edit Recipe</a>
            <a class="dropdown-item" href="#">Delete Recipe</a>
          </div>
     
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{recipe.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Ingredients
    </div>
  </div>
  