<div class="container">
<app-cockpit 
(serverCreated) = "onServerAdded($event)"
(bluePrintCreated) = "onBlueprintAdded($event)"
></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let item of serverElements"
      [srvElement] = 'item'
      >
      <p>
        <strong *ngIf="item.type === 'server'" style="color: red">{{ item.content }}</strong>
        <em *ngIf="item.type === 'blueprint'">{{ item.content }}</em>
      </p>
    </app-server-element>
    </div>
  </div>
</div>
