<!-- This is called prop binding Angular 
    allows you to change your DOM when run time that is the power of angular  -->


    <!-- **
    ** envent binding (<event>) = "methodName()"
        $event -> this parameter   used to send data in the method that bind with this event (ship data with firs)
    -->


    <!-- **
    ** Two way data binding : - not like previous this derective will do previous process in easy way
    [(ngModel)]="serverName"
    -->


<label>server name</label>
<input type="text"class="form-control" [(ngModel)]="serverName">    

<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer(this)"> Submit </button>
<!-- <p [innerText] = "allowNewServer"></p> -->
<!-- <p>{{serverCreationStatus}}</p> -->

<!-- if -->
<p *ngIf="serverCreated"> Server was created , server name is {{serverName}}</p>

<!-- if - esle -->
<p *ngIf="serverCreated; else noServer"> Server was created , server name is {{serverName}}</p>

<!-- else -->
<ng-template #noServer>
    <p> No server created </p>
</ng-template>

<!-- servers = array we created in BL -->
<app-server *ngFor="let server of servers"></app-server>



